@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #001e36;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #219ebc;
  /* width: 1152px; */
  height: 73px;
  border-radius: 20px 0px 20px 0px;
  margin: 50px;
  padding: 30px;
}

.div1 {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
}

.logoitem {
  color: #ffffff;
  font-size: 36px;
  font-family: "Roboto Slab";
  /* font-weight: 900px;
    line-height: 47.48px; */
}

nav {
  display: flex;
  align-items: center;
  order: 1;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navitem {
  padding: 0 41px;
}

.navitem a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Poppins";
}

.navitem a:visited {
  color: #001e36;
}

.navitem a:hover {
  color: #105389;
}

.navitem a:active {
  color: #37f6f6;
}

.container {
    position: absolute;
    top: 450px;
    left: 0px;
    
}

.yellow {
    position: absolute;
    top: 60px;
    right: 0px;
}

.div2 {
  margin: 100px 500px;
}

.p1 {
    text-align: center;
    font-family: "Poppins";
    font-size: 56px;
    font-weight: 800;
    line-height: 84px;
    background-color: #219EBC;
    border-radius: 20px;
    padding: 5px;
    display: inline-block;
    width: 450px;
    color: #001E36;
}

.div3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
} 

.div4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
} 

.div5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
} 

.div6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
} 

.img7 {
  position: absolute;
  top: 3500px;
  left: 0px;
  width: 120px;
}

.img8 {
  position: absolute;
  right: 0px;
  top: 2900px;
}

.div7 {
  display: flex;
  justify-content: space-between;
  background-color: #001e36;
  width: 1280px;
  height: 73px;
  border-radius: 10px;
  margin: 110px 70px 0px 90px;
  padding: 10px 40px;
  align-items: center;
}

.div8 {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
}

.logoitem1 {
  color: #ffffff;
  font-size: 36px;
  font-family: "Roboto Slab";
  font-family: Roboto Slab;
font-size: 28.61px;
font-weight: 500;
line-height: 37.73px;
text-align: left;
}

.div9 {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
font-family: "Poppins";
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.1px;
color: #ffffff;
margin: 0px 120px 0px  50px;
}

.facebook {
  display: inline-block;
  border: none;
  text-decoration: none;
  transition: transform 0.3s;
}

.facebook:hover {
  transform: scale(1.30);
}

.X {
  display: inline-block;
  border: none;
  text-decoration: none;
  transition: transform 0.3s;
}

.X:hover {
  transform: scale(1.30);
}

.linkedin {
  display: inline-block;
  border: none;
  text-decoration: none;
  transition: transform 0.3s;
}

.linkedin:hover {
  transform: scale(1.30);
}

.whatsapp {
  display: inline-block;
  border: none;
  text-decoration: none;
  transition: transform 0.3s;
}

.whatsapp:hover {
  transform: scale(1.30);
}

.img9 {
  margin-right: 20px;
}

.img10 {
  margin-right: 20px;
}

.img11 {
  margin-right: 20px;
}

.img12 {
  margin-right: 20px;
}

@media screen and (min width: 1024px);